@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonts/icomoon.eot?xkktun');
  src:  url('../fonts/fonts/icomoon.eot?xkktun#iefix') format('embedded-opentype'),
    url('../fonts/fonts/icomoon.ttf?xkktun') format('truetype'),
    url('../fonts/fonts/icomoon.woff?xkktun') format('woff'),
    url('../fonts/fonts/icomoon.svg?xkktun#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Cost-management:before {
  content: "\e906";
  color: #999;
}
.icon-System-setup:before {
  content: "\e90c";
  color: #999;
}
.icon-Employment-plan:before {
  content: "\e90d";
  color: #999;
}
.icon-home-page:before {
  content: "\e915";
  color: #999;
}
.icon-Employment-management:before {
  content: "\e917";
  color: #999;
}
.icon-Employment-recruitment:before {
  content: "\e918";
  color: #999;
}
.icon-ji1antouarrow483:before {
  content: "\e919";
  color: #999;
}
.icon-jiantouarrow483:before {
  content: "\e91a";
  color: #999;
}
.icon-Menu-bar-zoom:before {
  content: "\e900";
}
.icon-drafts:before {
  content: "\e902";
}
.icon-Before-approval:before {
  content: "\e903";
  color: #d4d4d4;
}
.icon-Approval:before {
  content: "\e904";
}
.icon-After-modification:before {
  content: "\e905";
  color: #d4d4d4;
}
.icon-search:before {
  content: "\e910";
  color: #d4d4d4;
}
.icon-Add-to:before {
  content: "\e911";
  color: #d4d4d4;
}
.icon-Approval-and-approval:before {
  content: "\e907";
}
.icon-Add-files:before {
  content: "\e908";
  color: #d4d4d4;
}
.icon-Close:before {
  content: "\e909";
  color: #d4d4d4;
}
.icon-reduce:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-Triangle2:before {
  content: "\e901";
}
.icon-Triangle:before {
  content: "\e90e";
  color: #d4d4d4;
}
.icon-Mobile-terminal:before {
  content: "\e90f";
  color: #999;
}
.icon-Customer-service:before {
  content: "\e912";
  color: #999;
}
.icon-notice:before {
  content: "\e913";
  color: #999;
}
.icon-Report-center:before {
  content: "\e914";
  color: #999;
}
